@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin knop-stijl($bg-kleur) {
    padding: 10px 20px;
    background-color: $bg-kleur;
    border-radius: 5px;
    &:hover {
        opacity: 0.8;
    }
}