* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  position: relative;
}

nav img {
  width: 5vw;
  position: absolute;
  left: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00a8c7;
  text-align: center;
  font-size: 34px; }

  h1 {
    text-align: center;
    color: white;
  }